@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 14px;
}

.card {
  border-radius: var(--radius);
}

@keyframes slide-horizontal {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide-horizontal 15s ease-in-out infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 20s ease-in-out infinite;
}
